<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Landmarks</key>
	<dict>
		<key>Residential Commons Armstrong</key>
		<array>
			<string>Armstrong Commons</string>
		</array>
		<key>Residential Commons Band Hall</key>
		<array>
			<string>Band Hall</string>
		</array>
		<key>Residential Commons Blue Light</key>
		<array>
			<string>Armstrong Commons - Blue Light </string>
		</array>
		<key>Residential Commons Crow</key>
		<array>
			<string>Crow Commons</string>
		</array>
		<key>Residential Commons Loyd</key>
		<array>
			<string>Loyd Commons</string>
		</array>
		<key>Meadows M Spirit&apos;s Flight</key>
		<array>
			<string>Spirit&apos;s Flight</string>
		</array>
		<key>Meadows M Geometric Mouse II</key>
		<array>
			<string>Geometric Mouse II</string>
		</array>
		<key>Meadows M Horse and Rider</key>
		<array>
			<string>Horse and Rider, left foot</string>
		</array>
		<key>Meadows M Three Piece Reclining Figure</key>
		<array>
			<string>Three Piece Reclining Figure, left</string>
		</array>
		<key>Meadows M Crouching Woman</key>
		<array>
			<string>Crouching Woman</string>
		</array>
		<key>Meadows M Figure with Raised Hands</key>
		<array>
			<string>Figure with Raised Hands</string>
		</array>
		<key>Blanton Building Number</key>
		<array>
			<string>Blanton, front</string>
		</array>
		<key>Blanton Entrance</key>
		<array>
			<string>Blanton, front on top of stairs</string>
		</array>
		<key>Blanton Fountain</key>
		<array>
			<string>Blanton, fountain in front</string>
		</array>
		<key>Blanton Cooper Centennial Fountain</key>
		<array>
			<string>Centennial Quadrangle - Cooper Centennial Fountain</string>
		</array>
		<key>Blanton Centennial Pavilion</key>
		<array>
			<string>Centennial Quadrangle - Centennial Pavillion</string>
		</array>
		<key>Athletics Doak Walker Plaza</key>
		<array>
			<string>Doak Walker Plaza - front of Dedman Rec Center</string>
		</array>
		<key>Athletics Peruna</key>
		<array>
			<string>Peruna Statue - Street View</string>
		</array>
		<key>Athletics Moody Coliseum</key>
		<array>
			<string>Moody Coliseum - Entrance</string>
		</array>
		<key>Athletics Dedman Rec Center</key>
		<array>
			<string>Dedman Rec Center - Entrance</string>
		</array>
		<key>Athletics Soccer Field</key>
		<array>
			<string>Soccer Field, viewed from Dedman Rec Center</string>
		</array>
		<key>Dedman</key>
		<array>
			<string>Dedman, Entrance of Blvd</string>
		</array>
		<key>Dedman Dallas Hall Entrance</key>
		<array>
			<string>Dallas Hall Entrance</string>
		</array>
		<key>Dedman Dallas Hall Portrait</key>
		<array>
			<string>Dallas Hall Lobby</string>
		</array>
		<key>Dedman Dallas Hall Seal</key>
		<array>
			<string>Dallas Hall Lobby - Seal</string>
		</array>
		<key>Meadows</key>
		<array>
			<string>Meadows, Entrance from Blvd</string>
		</array>
		<key>Meadows Auditorium</key>
		<array>
			<string>Meadows Entrance - Auditorium</string>
		</array>
		<key>Meadows Creative Computing</key>
		<array>
			<string>Meadows, near Hamon Library - Creative Computing Office</string>
		</array>
		<key>Meadows Entrance Art</key>
		<array>
			<string>Meadows Lobby</string>
		</array>
		<key>Meadows Entrance Painting</key>
		<array>
			<string>Meadows Lobby</string>
		</array>
		<key>Meadows Lounge</key>
		<array>
			<string>Meadows Lounge</string>
		</array>
		<key>Meadows Painting</key>
		<array>
			<string>Meadows - Hall left of Lobby</string>
		</array>
		<key>Meadows Tech Effect</key>
		<array>
			<string>Meadows - Hall left of Lobby</string>
		</array>
		<key>Meadows Library</key>
		<array>
			<string>Hamon Library</string>
		</array>
		<key>Cox Trade</key>
		<array>
			<string>Maguire, Basement</string>
		</array>
		<key>Cox Quad Entrance</key>
		<array>
			<string>Cox Quad, Bottom of Stairway</string>
		</array>
		<key>Cox Quad</key>
		<array>
			<string>Cox Quad, Stairway</string>
		</array>
		<key>Cox Networking</key>
		<array>
			<string>Maguire, Basement</string>
		</array>
		<key>Cox Computer Lab</key>
		<array>
			<string>Maguire, Basement</string>
		</array>
		<key>Cox Alumni</key>
		<array>
			<string>Maguire, Basement</string>
		</array>
		<key>Cox</key>
		<array>
			<string>Cox, Entrance from Blvd</string>
		</array>
		<key>Lyle Junkins</key>
		<array>
			<string>Junkins, 1st floor - Quad Entrance</string>
		</array>
		<key>Lyle Office of Recruitment</key>
		<array>
			<string>Embrey, 1st floor - Office of Recruitment</string>
		</array>
		<key>Lyle Dean&apos;s Suite</key>
		<array>
			<string>Embrey, 1st floor - Dean&apos;s Suite</string>
		</array>
		<key>Lyle Ampitheater</key>
		<array>
			<string>Caruth, back</string>
		</array>
		<key>Lyle Wall of Patents</key>
		<array>
			<string>Caruth, 4th floor - Wall of Patents</string>
		</array>
		<key>Lyle Seal</key>
		<array>
			<string>Caruth, 2nd floor - Viewed from 3rd floor</string>
		</array>
		<key>Lyle Innovation Gym</key>
		<array>
			<string>Caruth, 1st floor - Innovation Gym</string>
		</array>
		<key>Lyle Hunt Institute</key>
		<array>
			<string>Caruth, 2nd floor - Hunt Institute</string>
		</array>
		<key>Lyle</key>
		<array>
			<string>Caruth, front</string>
		</array>
		<key>Hughes Trigg SMU Unbridled</key>
		<array>
			<string>Hughes Trigg Basement - SMU Unbridled</string>
		</array>
		<key>Hughes Trigg Peruna Statue</key>
		<array>
			<string>Hughes Trigg 1st floor - Peruna Statue</string>
		</array>
		<key>Hughes Trigg Mane Course</key>
		<array>
			<string>Hughes Trigg 1st floor - Stair leading to Mane Course</string>
		</array>
		<key>Hughes Trigg Mail</key>
		<array>
			<string>Hughes Trigg 1st floor - Post Office</string>
			<string></string>
		</array>
		<key>Hughes Trigg M Lounge</key>
		<array>
			<string>Hughes Trigg 1st floor - M Lounge</string>
			<string></string>
		</array>
		<key>Hughes Trigg Cafe 100</key>
		<array>
			<string>Hughes Trigg 1st floor - Cafe 100</string>
			<string></string>
		</array>
		<key>Hughes Trigg Commons</key>
		<array>
			<string>Huges Trigg 1st floor - Commons</string>
			<string></string>
		</array>
		<key>Hughes Trigg Basement</key>
		<array>
			<string>Huges Trigg Basement - Centennial Hall</string>
			<string></string>
		</array>
		<key>Perkins Library Entrance</key>
		<array>
			<string>Bridwell Library, entrance</string>
			<string></string>
		</array>
		<key>Perkins Chapel Garden</key>
		<array>
			<string>Perkins Chapel, near front entrance</string>
			<string></string>
		</array>
		<key>Perkins Chapel</key>
		<array>
			<string>Perkins Chapel, near front entrance</string>
			<string></string>
		</array>
	</dict>
	<key>Locations</key>
	<dict>
		<key>Perkins School of Theology</key>
		<array>
			<string>Perkins Chapel</string>
			<string>Perkins Chapel Garden</string>
			<string>Perkins Library Entrance</string>
		</array>
		<key>Hughes Trigg Student Center</key>
		<array>
			<string>Hughes Trigg Basement</string>
			<string>Hughes Trigg Commons</string>
			<string>Hughes Trigg Cafe 100</string>
			<string>Hughes Trigg M Lounge</string>
			<string>Hughes Trigg Mail</string>
			<string>Hughes Trigg Mane Course</string>
			<string>Hughes Trigg Peruna Statue</string>
			<string>Hughes Trigg SMU Unbridled</string>
		</array>
		<key>Lyle School of Engineering</key>
		<array>
			<string>Lyle</string>
			<string>Lyle Hunt Institute</string>
			<string>Lyle Innovation Gym</string>
			<string>Lyle Seal</string>
			<string>Lyle Wall of Patents</string>
			<string>Lyle Ampitheater</string>
			<string>Lyle Dean&apos;s Suite</string>
			<string>Lyle Office of Recruitment</string>
			<string>Lyle Junkins</string>
		</array>
		<key>Cox School of Business</key>
		<array>
			<string>Cox</string>
			<string>Cox Alumni</string>
			<string>Cox Computer Lab</string>
			<string>Cox Networking</string>
			<string>Cox Quad</string>
			<string>Cox Quad Entrance</string>
			<string>Cox Trade</string>
		</array>
		<key>Meadows School of Arts</key>
		<array>
			<string>Meadows</string>
			<string>Meadows Auditorium</string>
			<string>Meadows Creative Computing</string>
			<string>Meadows Entrance Art</string>
			<string>Meadows Entrance Painting</string>
			<string>Meadows Library</string>
			<string>Meadows Lounge</string>
			<string>Meadows Painting</string>
			<string>Meadows Tech Effect</string>
		</array>
		<key>Dedman School of Humanities</key>
		<array>
			<string>Dedman</string>
			<string>Dedman Dallas Hall Entrance</string>
			<string>Dedman Dallas Hall Portrait</string>
			<string>Dedman Dallas Hall Seal</string>
		</array>
		<key>Athletics</key>
		<array>
			<string>Athletics Peruna</string>
			<string>Athletics Dedman Rec Center</string>
			<string>Athletics Doak Walker Plaza</string>
			<string>Athletics Moody Coliseum</string>
			<string>Athletics Soccer Field</string>
		</array>
		<key>Blanton Student Servies</key>
		<array>
			<string>Blanton Building Number</string>
			<string>Blanton Centennial Pavilion</string>
			<string>Blanton Cooper Centennial Fountain</string>
			<string>Blanton Entrance</string>
			<string>Blanton Fountain</string>
		</array>
		<key>Meadows Museum</key>
		<array>
			<string>Meadows M Figure with Raised Arms</string>
			<string>Meadows M Crouching Woman</string>
			<string>Meadows M Three Piece Reclining Figure</string>
			<string>Meadows M Horse and Rider</string>
			<string>Meadows M Geometric Mouse II</string>
			<string>Meadows M Spirit&apos;s Flight</string>
		</array>
		<key>Residential Commons</key>
		<array>
			<string>Residential Commons Armstrong</string>
			<string>Residential Commons Band Hall</string>
			<string>Residential Commons Blue Light</string>
			<string>Residential Commons Crow</string>
			<string>Residential Commons Loyd</string>
		</array>
	</dict>
	<key>Server_URL</key>
	<string>http://teamben.cloudapp.net:8000</string>
	<key>Server_URL-2</key>
	<string>http://nicoles-macbook-pro.local:8000</string>
	<key>FoundLandmarks</key>
	<array/>
</dict>
</plist>
